body {
  font-family: sans-serif;
  background-image: url("../assets/menu-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0 0 150px;
}

.spicy:before {
  width: 16px;
  height: 16px;
  content: "";
  background-image: url("../assets/spicy.svg");
  background-repeat: no-repeat;
  display: inline-block;
  padding-right: 3px;
  position: relative;
  top: 2px;
}

#menu {
  font-size: 16px;
}
